<div class='confTab row'>

	<div class="col-6">
		<h5 class="mb-0 config_header">CAs :</h5>
		<div class="config_section">
			<ul ng-repeat="x in caClients">
				<li>{{ x.title }}</li>
			</ul> 
		</div>
	</div>




<!-- 	<div class="col-6">
		<h5 class="mb-0 config_header">Timeshift Configuration:</h5>
		<div class="config_section">
			<fieldset class="mb-3">
				<legend>General Settings</legend>
				<label>Enabled							<input 	id="" 	type="checkbox" ng-change="" ng-model="caConfig[2].value" ></label>
				<label>Client name						<input 	id=""	type="text"		name=""		 ng-model="caConfig[3].value"></label>
				<label>Comment							<input 	id=""	type="text"		name=""		 ng-model="caConfig[4].value"></label>
			</fieldset>
			<fieldset class="mb-3">
				<legend>Common Interface Settings</legend>
				<label>Service limit					<input 	id=""	type="number"	name=""		 ng-model="caConfig[].value"></label>
				<label>CAID selection					<select	id=""								 ng-model="caConfig[].value" ng-options="key for (key , value) in caConfig"></select></label>
				<label>CAID filter list					<input 	id=""	type="text"		name=""		 ng-model="caConfig[].value"></label>
				<label>CAM can decode multiple channels	<input 	id=""	type="checkbox" ng-change="" ng-model="caConfig[].value" ></label>
			</fieldset>
		</div>
	</div>

 -->

</div>
