<div class='subpage_conf'>
	<div class="btn-group btn-group-lg btn-block">
		<button type="button" class="btn btn-primary btn-square" ng-click="selectTab(1)">General</button>
		<button type="button" class="btn btn-primary btn-square" ng-click="selectTab(2)">Users</button>
		<button type="button" class="btn btn-primary btn-square" ng-click="selectTab(3)">DVB Inputs</button>
		<button type="button" class="btn btn-primary btn-square" ng-click="selectTab(4)">Channel / EPG</button>
		<button type="button" class="btn btn-primary btn-square" ng-click="selectTab(5)">Stream</button>
		<button type="button" class="btn btn-primary btn-square" ng-click="selectTab(6)">Recording</button>
		<button type="button" class="btn btn-primary btn-square" ng-click="selectTab(7)">CAs</button>
		<button type="button" class="btn btn-primary btn-square" ng-click="selectTab(8)">Debugging</button>
	</div>

	<ng-include src="selectedTab" />


</div>









